.div1{ 
    position: relative;
    height: 100px;
    width: 1,000px;
    background-color: red;

}
.div2{ 
    position: relative;
    background-color: blue;
    height: 500px;
    width: 300px

}
.div3{
    position: relative;
    height: 100px;
    width : 1,000px;
    background-color: yellow;
}
div{
margin:  20px;
}
body{
    background-color: black;
}
